.SignUpForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 100px;
    border: 1px solid #0269df;
    border-radius: 15px;
    padding: 1%;
    background-color: rgba(240, 136, 0, 0.218);
}

.error {
    color: blue;
    font-size: 20px;
    text-align: center;



}